/*
Overruling Rules
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Varela', sans-serif;
    color: #FFFFFF;
    background-color: #222222;
}

header {
    background-image: url("../images/bgblur.gif");
    background-position: center;
    background-size: unset;
}

.fullpage {
    height: 100vh;
}

hr {
    margin: 0 10vw;
    color: white;
}



a {
    text-decoration: none;
    color: rgb(55, 170, 55);
}

/*
frame rules
*/
#frontpage {
    height: 80vh;
    padding: 8em 0;
}

#frontpage-footer {
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding: 2em;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 8em;
}

header h3 {
    text-align: center;
    font-size: 2em;
    font-family: 'Consolas', monospace;
}

.frameheader {
    background-color: #333333;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.8));
    padding: 1em;
}

.frameheader h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Consolas', monospace;
}
/*
id rules
*/

#link_resume {
    width: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 48pt;
    text-align: left;
}

#link_projects {
    width: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 48pt;
    text-align: right;
}

#footer {
    margin: 50px 0;
    text-align: center;
}

/*
other rules
*/

header a {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.8));
}