@font-face {
    font-family: 'arcade';
    src: url("../assets/fonts/ARCADECLASSIC.ttf") format("truetype");
    font-display: swap;
}

html {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 72pt;
    font-family: 'arcade';
    color: white;
}

h2 {
    font-family: 'arcade';
    font-size: 48pt;
    text-shadow: 0px 5px rgba(255, 153, 153, 0.8);
    margin: 0.5em;
}

p {
    font-family: 'Calibri';
    font-size: 14pt;
    margin: 2em;
}

header {
    text-align: center;
    margin: 5px;
    padding: 0%;
}

footer {
    text-align: center;
}

header h1 {
    margin: 0;
}

header h3 {
    font-family: 'Papyrus';
    font-size: 24pt;
    margin: 0;
    color: rgb(237, 205, 100);
}

.block {
    width: 80%;
    margin: 1em auto;
    padding: 0.5em;
}

.accentimage {
    float: right;
    width: 5em;
    margin: 2em;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.8));
}

#extras {
    text-align: center;
}

#extras a {
    font-family: 'arcade';
    font-size: 24pt;
    color: rgba(255, 153, 153, 0.8);
    margin: 2em;
    text-decoration: underline;
}

#personalpic {
    float: left;
    margin: 2em;
    width: 20%;
}

#personality {
    clear: both;
}